#video-library > div.row {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #e4e4e4;
}

div.video {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.project {
    position: relative;
}
div.project .title {
  margin-top: -7.5px;
  padding-top: 30px;
  padding-right: 35px;
  min-height: 75px;
  background: #ecf0f1; }

  div.project p {
  border-top: 1px dotted #d3d3d3;
  padding: 5px;
  color: #979797; }

    .verify-badge {
        width: 25px;
        height: 25px;
        position: absolute;
        top:0;
        left:100;
        color:#fff;
        padding:5px;
    }

  div.verified {
    background: green;
  }

   div.unverified {
    background: red;
  }

  #landing-page {
  position: relative;
  background: url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin-top: -21px;
  margin-bottom: 21px;
  color: #fff; }

.landing-page-title {
  background: rgba(0,0,0,0.5);
  padding: 50px;
}

.landing-page-title h1 {
  font-size: 5em;
  padding-top: 50px; }

.landing-page-call-to-action {
  padding-top: 50px; }

.landing-page-title h2 {
  padding-top: 50px;
  padding-bottom: 15px; }

.landing-page-title {
  position: absolute;
  top: 10%;
  left: 10%; }

.fa-chevron-circle-down {
  position: absolute;
  left: 45.5%;
  color: #fff;
  font-size: 3em;
  bottom: 75px; }

  .site-highlight {
  color: #18bc9c; }